body {
  max-width: 1100px;
  margin: auto;
}


div#header {
  display: flex;
  flex-direction: column;
}

section.top {
  display: flex;
  align-items: center;
}

section.top div {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.feature-gallery {
  display: flex;
}

.feature-gallery > * {
  flex:1;
}

.gallery-image img {
  width: 100%;
  height: auto;
}

.gallery-overlay-text {
  padding-bottom: 10px;
  padding-top: 10px;
  background: rgba(255,255,255,0.5);
  position: relative;
  bottom: 55px;
  text-align: center;
}



// body {
//   text-align: center;
// }
//
// #header {
//   display: inline-block;
// }
//
// .feature {
//   display: inline-block;
// }
//
// .feature-gallery {
//   display: flex;
//   justify-content: space-between;
//   max-width: 1420px;
// }
//
// .gallery-image, .gallery-image > img {
//   padding: 0;
//   margin: 0;
//   border: 0;
//   width: 100%;
// }
//
// .gallery-overlay-text {
//   background-color:rgba(0, 0, 0, 0.5);
//   bottom: 65px;
//   height: 60px;
//   position: relative;
// }
//
// .gallery-overlay-text > p {
//   color: white;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
//
// #content {
//   display: inline-block;
// }
//
// #content-parent {
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//
//   -webkit-flex-wrap: wrap;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
// }
//
// #content-left {
//   max-width: 1011px;
// }
//
// #content-right {
//   max-width: 400px;
//   margin: auto;
//   text-align: center;
// }
//
// h1 {
//   text-align: left;
// }
//
// .menu {
//   height: 120px;
//   display: flex;
//   justify-content: space-around;
// }
//
// .sub-menu {
//   width: 33%;
//   position: relative;
// }
//
// .sub-menu > ul {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
//
// .main-content {
//   text-align: left;
// }
//
// .top {
//   max-width: 1411px;
//   display: flex;
// }
//
// .ad-banner-top {
//   margin: auto;
// }
//
// .logo-title {
//   text-align: left;
// }

/*Media Queries*/
@media all and (max-width:1100px) {
  section.top {
    flex-direction: column;
  }

  section .logo-title {
    order: 1;
  }

  .feature-gallery {
    flex-wrap: wrap;
  }
}
