<header>
  <div id="header">
    <section class="top">
      <div>
        Taste
        <img class="ad-banner-top" src=<%= asset_path("ads728.png") %>
      </div>
    </section>
  </div>
</header>

<div id="content">
  Content
</div>

<footer>
  <div id="footer">
    Footer
  </div>
</footer>
